<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="../css/form.css"> -->
    <title>Post Image</title>
</head>
<body>
    <form id="post-image" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
        <legend>Enter the following</legend>
        <br />
        <label>Title:</label>
        <br />
        <input type="text" name="title" required>
        <br />
        <br />
        <label>Caption:</label>
        <input type="text" name="description" required>
        <br />
        <br />
        <label>Choose an image:</label>
        <input type="file" name="uploadImage" required>
        <br />
        <br />
        <input type="checkbox" required>
        <label>
            I have agreed to the 
            <a href="#">Acceptable Use Policy</a>
        </label>
        <br />
        <br />
        <button type="submit">Post</button>
    </form>
</body>
</html>